/* Styling Giphy Game*/

*{
    box-sizing: border-box;
}
body {
  
  background-color: lightgray;
  font-size: 16px;
    

}
.container{
 margin-top:20px;
}

img{
  width:225px;
  height:220px;
  padding:10px;
}

.gifDiv{
  float:left;
}

p{
  padding-left: 10px;
  text-align: left;
  font-weight: bold;
}


.row{
  margin-top: 20px;
}
.btn{
  padding: 10px;
  margin-left: 10px;
  font-size: 13px;
  background-color:teal;
}
 @media screen and (max-width: 640px) {
    body {
        
        font-size: 14px;
      }
    
      .btn {
       padding:5px;  
       margin-left: 5px;   
       
      }
      img{
        width:150px;
        height:150px;
        padding:0px;
      }
      p{
        padding: 0px;
      }
      #imgContainer{
        margin-left: 15px;
      }
    }